/* Divider Line */
.divider {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px 15px;
  gap: 10px;
  width: 100%;
  height: 20px;
  flex: none;
  flex-grow: 0;
  box-sizing: border-box;
}

.divider::after {
  content: '';
  width: 340px;
  height: 0px;
  border: 0.7px solid #CDCDCD;
  opacity: 1;
  flex: none;
  order: 0;
  flex-grow: 0;
}

