/* Header Section */
.header-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 100%;
  height: 42px;
  flex: none;
  order: 0;
  flex-grow: 0;
  box-sizing: border-box;
}

.header-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px 15px 8px 22px;
  gap: 5px;
  width: 100%;
  height: 42px;
  background: #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 0;
  box-sizing: border-box;
}

.header-text {
  margin: 0;
  width: 64px;
  height: 18px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  display: flex;
  align-items: center;
  color: #1F2128;
  flex: none;
  order: 0;
  flex-grow: 0;
}

